@font-face {
	font-family: 'asphaltic';
	src: url('./font/asphaltic.ttf') format('truetype');
}

@font-face {
	font-family: 'oswald';
	src: url('./font/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'beaver';
	src: url('./font/beaver.ttf') format('truetype');
}

body {
	margin: 0;
	background-image: url("./assets/imgs/wallpaper.jpg");
	background-size: cover;
}

.header {
	display: flex;
	width: 100%;
	animation: fadeInDown 1 1s;
}

button {
	border: 3px solid #F0F0F0;
	background-color: rgba(0,0,0,0);
	color: #F0F0F0;
	padding: 15px 32px;
	font-family: oswald;
	font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    animation: fadeIn 1 4s;
    cursor: pointer;
	transition: all 0.5s;
}

button:hover {
	background-color: rgb(240, 82, 83);
	border: 3px solid rgb(240, 82, 83);
}

#cname {
	border: 2px solid #F0F0F0;
	background-color: rgba(0,0,0,0);
	color: #F0F0F0;
	padding: 4px 8px;
	font-family: oswald;
	font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#sw {
	flex: 50%;
	margin-top: 10px;
	margin-left: 2%;
	color: #F0F0F0;
	font-family: asphaltic;
	font-size: 70px;
	letter-spacing: 5px;
}

#p404 {
	flex: 50%;
	margin-top: 30px;
	margin-right: 2%;
	color: #F0F0F0;
	font-family: oswald;
	font-size: 30px;
	text-align: right;
}

#content {
	display: none;
	margin: auto;
	width: 75%;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid white;
	font-family: oswald;
	text-align: center;
	animation: fadeIn 1 2s;
	padding-bottom: 5%;
}

#testContent {
	display: none;
	margin: auto;
	width: 75%;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid white;
	font-family: oswald;
	text-align: center;
	animation: fadeIn 1 2s;
	padding-bottom: 5%;
}

#good {
	display: none;
	margin: auto;
	width: 75%;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid #B4C248;
	font-family: oswald;
	text-align: center;
	animation: fadeIn 1 2s;
	padding-bottom: 5%;
}

#bad {
	display: none;
	margin: auto;
	width: 75%;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid #E3000E;
	font-family: oswald;
	text-align: center;
	animation: fadeIn 1 2s;
	padding-bottom: 5%;
}

.advert {
	font-size: 60px;
	color: #F0F0F0;
}

.advert_msg {
	margin-bottom: 0;
	font-size: 30px;
	color: #F0F0F0;
}

#advert_msg_mod {
	margin-top: 10px;
	font-size: 25px;
	color: #F0F0F0;
}

#responseInput {
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	color: #0F0F0F; 
	outline: none;
}

#responseInput:focus {
	border: 1px solid rgb(240, 82, 83);
	box-shadow: 1px 1px 12px rgb(240, 82, 83) ;
	background-color: #F0F0F0;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-500px);
    }
    50% {
    	opacity: 0;
    	transform: translateY(-40px);
    }
	100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
		border-radius: 20px;
    }
    60% {
    	opacity: 0;    	
		border-radius: 20px;
    }
	100% {
        opacity: 1;
    }
}